@font-face {
  font-family: "iconfont"; /* Project id 1005017 */
  src: url('iconfont.woff2?t=1676008539260') format('woff2'),
       url('iconfont.woff?t=1676008539260') format('woff'),
       url('iconfont.ttf?t=1676008539260') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pingguo:before {
  content: "\e60b";
}

.icon-45:before {
  content: "\e6a5";
}

.icon-jiangli:before {
  content: "\e61c";
}

.icon-weibo:before {
  content: "\e73c";
}

.icon-xiasanjiao:before {
  content: "\e63f";
}

.icon-xiasanjiao-copy:before {
  content: "\e661";
}

.icon-xiasanjiao-copy-copy:before {
  content: "\e662";
}

.icon-xuanze-duoxuan-tianchong:before {
  content: "\e65f";
}

.icon-xuanze-duoxuan:before {
  content: "\e660";
}

